:root {
    --white: #FFFFFF;
    --hover-blue: #2600FF;
    --react-blue: #7ED8F7;
    --dark-blue: #57648C;
    --dark-gray: #999;
    --light-gray: #777;
    --border-gray: #CCCCCC;
    --navbar-footer-gray: #E5E5E5;
    --dark-purple: #934A5F;
    --light-purple: #C2B4D6;
    --body-border: #DDDDDD;
    --body-background: #FFFFFF;
  }
  