#main-container {
  padding-top: 94px;
}

.main-section {
  float: left;
  width: 100%;
  max-width: 650px;
  padding: 30px;
  margin: 60px 0 150px;
  background: var(--body-background);
  border: 1px solid var(--body-border);
}

.profile-image {
  float: left;
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
}

.bio {
  color: var(--light-gray);
}
