footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: right;
  padding: 30px 0;
  font-size: 12px;
  color: var(--dark-gray);
  text-align: center;
  background: var(--navbar-footer-gray);
  border-top: 8px solid var(--dark-blue);
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  .container {
    height: 100%;
    width: 100%;
  }
}
