.wrapper-landing::before {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    z-index: 0;
    display: block;
    background-image: url('https://res.cloudinary.com/willblake01/image/upload/v1538510164/react-portfolio/landing-background.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }
  
  .content-landing {
    position: relative;
    height: 1080px;
    width: 1200px;
    margin: 0 auto;
  }
  
  .copy {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    position: relative;
    font-weight: 700;
  }
  
  #about-landing {
    top: 400px;
    font-size: 2vw;
  }
  
  #learn-more {
    width: 240px;
    margin: 0 auto;
    top: 500px;
  }
  
  #down-arrow {
    width: 20px;
    margin: 0 auto;
    top: 490px;
  }
  