.mern-logos {
  height: 1.875rem;
  display: inline-flex;
  position: fixed;
  width: 62.5rem;
  justify-content: space-between;
  bottom: 0.625rem;
}

.mern-icon {
  position: relative;
  height: 1.875rem;
}
