.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.featured {
  position: relative;
  width: 100%;
  margin: 20px 0 25px;

  img {
    width: 100%;
    border: 0 none;
  }

  h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: var(--body-background);
    text-align: center;
    background: var(--dark-purple);
    opacity: .86;
    border-bottom: 0;
  }
}

.work {
  position: relative;
  float: left;
  width: 274px;
  margin: 20px 0 25px;
  overflow: auto;

  img {
    width: 100%;
    border: 0 none;
  }

  h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: var(--body-background);
    text-align: center;
    background: var(--dark-purple);
    opacity: .86;
    border-bottom: 0;
  }
}

.work:nth-child(even) {
  margin-right: 40px;
}
