* {
  box-sizing: border-box;
}

body {
  max-width: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: #ffffff;
  background: url("../images/concrete-seamless.png");
}

a:hover {
  color: blue;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}

h1,
h2,
h3,
p {
  margin-bottom: 20px;
}

.bio {
  text-indent: 50px;
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #C2B4D6;
}

h1 {
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 49px;
  border-bottom: 3px solid #ddd;
}

h2,
h3 {
  font-size: 22px;
}

#main-container {
  padding-top: 310px;
}

.main-section {
  float: left;
  width: 100%;
  max-width: 650px;
  padding: 30px;
  margin: 0 0 150px;
  background: #fff;
  border: 1px solid #ddd;
}

.profile-image {
  float: left;
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
}

.bio {
  color: #777;
}

#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #ddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background: #57648C;
  border: 0 none;
}

.wrapper-landing::before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: 0;
  display: block;
  background-image: url("../images/landing-background.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.content-landing {
  position: relative;
  height: 1080px;
  width: 1200px;
  margin: 0 auto;
}

.copy {
  position: relative;
  font-weight: 700;
}

#headline {
  top: 320px;
  font-size: 6vw;
}

#about-landing {
  top: 400px;
  font-size: 2vw;
}

#learn-more {
  width: 240px;
  margin: 0 auto;
  top: 500px;
}

#down-arrow {
  width: 20px;
  margin: 0 auto;
  top: 490px;
}

.work {
  position: relative;
  float: left;
  width: 274px;
  margin: 20px 0 25px;
  overflow: auto;
}

.work:nth-child(even) {
  margin-right: 40px;
}

.work img {
  width: 100%;
  border: 0 none;
}

.work h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #934A5F;
  opacity: 0.86;
  border-bottom: 0;
}

.auth-image {
  float: left;
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
}

.App {
  position: fixed;
  z-index: 98;
  width: 100%;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 185px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#masthead-navbar {
  position: fixed;
  z-index: 99;
  width: 100%;
  margin: 185px 0 30px;
  overflow: auto;
  color: #E5E5E5;
  background: #E5E5E5;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid #ccc;
}

#logo {
  float: left;
  width: 250px;
  height: 90px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background: #57648C;
}

nav {
  float: right;
  margin-top: 25px;
}

nav a {
  display: inline-block;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  color: #999;
  text-decoration: none;
  border-left: 1px solid #efefef;
}

nav a:first-child {
  border-left: 0 none;
}

.sidebar {
  float: right;
  width: 100%;
  max-width: 270px;
  padding: 30px;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #ddd;
}

h3,
.sidebar h2 {
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eee;
}

.social {
  width: 62px;
  height: 62px;
  margin-top: 8px;
  margin-right: 5px;
}

footer {
  padding: 30px 0;
  clear: both;
  font-size: 12px;
  color: #999;
  text-align: center;
  background: #E5E5E5;
  border-top: 8px solid #57648C;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 120px;
  width: 100%;
}

.social-media {
  text-align: right;
}

.social-icon {
  position: relative;
  height: 40px;
  margin-right: 8px;
  right: 10px;
  bottom: 30px;
}

.mern-logos {
  display: inline-flex;
  position: absolute;
  width: 1000px;
  justify-content: space-between;
  bottom: 10px;
}

.mern-icon {
  position: relative;
  height: 30px;
}
