.content-landing {
  height: 760px;
  width: 100%;
}

.mern-logos {
  display: inline-flex;
  position: absolute;
  width: 1000px;
  justify-content: space-between;
  bottom: 10px;
}

.mern-icon {
  position: relative;
  height: 40px;
}
